# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

# DevExpress/CodeRush cache files
# DevExpress lưu trữ dữ liệu Rich Comments ở đây và không nên đẩy lên Git
.cr/

# NuGet Packages
packages/
!packages/Build/