<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- INS : 1, FAC : 2 -->
		<add key="FORM" value="1"/>
		<add key="defaultConnection" value="sqlCon"/>
		<add key="SetTimeFormatDate" value="yyyy/MM/dd"/>
		<add key="SetTimeFormatMonth" value="yyyyMM"/>
		<add key="ServerName" value="10.4.30.50"/>
		<add key="Database" value="InspectionMeasure"/>
		<!-- Appconfig cho INS -->
		<add key="PortCOM" value="1"/>
		<add key="Baund" value="9600"/>
		<add key="ShowCom" value="0"/>
		<add key="PortCOM1" value="0"/>
		<add key="Baund1" value="9600"/>
		<add key="ShowCom1" value="0"/>
		<add key="ExcelPath" value="C:\Program Files (x86)\Microsoft Office\Office15\excel.exe"/>
		<add key="EmpDefault" value=""/>
		<add key="MachineName" value="JB-INS11"/>
		<add key="LineMore" value=""/>
		<add key="CSVFile" value="C:\data\TABLET\log000.csv"/>
		<add key="STTDo" value="1"/>
		<add key="Shift" value="S"/>
		<add key="CheckFlow" value="0"/>
		<add key="CheckQty" value="1"/>
		<add key="CheckHieuchinh" value="0"/>
		<add key="CheckKey" value="0"/>
		<add key="AddValue" value="0"/>
		<add key="TimerIntervalSet" value="5000"/>
		<add key="LoadForm" value="1"/>
		<add key="TimerIntervalSet1" value="5000"/>
		<add key="LoadForm1" value="1"/>
		<add key="TimerIntervalSet2" value="5000"/>
		<add key="LoadForm2" value="0"/>
		<add key="CheckBeforePlating" value="1"/>
		<add key="ActiveSJ210" value="1"/>
		<!-- input "Supro" for tranfer EmpID and PO to Supro -->
		<add key="WindowTitle" value="Supro"/>

		<add key="Typetxt" value="NO"/>
		<add key="AFtxt" value="BF"/>
		<add key="Step" value="dlb,d1,h,H"/>
		<add key="TypePro" value="JBN,JBY,JBT,JBS"/>
		<add key="POLock" value="0"/>
		<add key="POLoad" value="0"/>
		<add key="OffSet" value="0.002"/>
		<add key="AppPathSJ210" value="C:\Program Files (x86)\Surftest SJ-Communication-Tool\SJ-Communication-Tool.exe"/>
		<add key="SavePathSJ210" value="C:\Mitutoyo Surftest\SJ-Tools\Parameter.csv"/>
	</appSettings>
	<connectionStrings>
		<add name="sqlCon" connectionString="Server=192.168.0.7;Initial Catalog=ProductionControl;User ID=user;Password=kuser;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
		<add name="mySqlCon" connectionString="Server=127.0.0.1;Port=3306;Database=dalc4net_db;User ID=root;PASSWORD=root;" providerName="MySql.Data.MySqlClient"/>
		<add name="oracleCon" connectionString="Server=localhost;Port=3306;Database=dalc4net_db;Uid=root;Pwd=P@ssw0rd;allow user variables=true" providerName="MySql.Data.MySqlClient"/>
		<add name="accessCon" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\Program Files\AccountPlus\Database\AccountPlus.mdb;Jet OLEDB:Database Password=admin;" providerName="System.Data.OleDb"/>
	</connectionStrings>
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient"/>
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
		</DbProviderFactories>
	</system.data>
</configuration>
